body {
  font-family: Montserrat, Arial;
  font-size: 18px;
}

h1 {
  font-family: Roboto, Arial;
  font-size: 42px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-family: Montserrat, Arial;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

a:active {
  color: blue;
}

a:hover {
  color: lightblue;
  cursor: pointer;
}

.centered {
  display: grid;
  justify-content: center;
}

.main-container {
  display: grid;
  grid-template-rows: 200px 1fr 150px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.screenshot {
  height: 650px;
}

.left-col {
  padding-left: 60px;
  padding-right: 60px;
  color: black;
  position: relative;

}

.left-col-background::before {
  background-image: url("images/balanceacupuncture-thumb.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 700px;
  opacity: 0.06;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 50px;
  content: "";
}

.left-col-background {
  position: relative;
  height: 650px;
}

.app-button {
  padding: 10px;
  background-color: rgb(42, 117, 143);
  border-style: none;
  border-radius: 20px;
  margin-top: 30px;
  justify-self: center;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.app-button:hover {
  background-color: rgb(67, 143, 168);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  text-align: center;
}

.social-icons {
  width: 30px;
  height: 30px;
  justify-self: center;
}

.instagram-footer {
  display: grid;
  justify-content: right;
  padding-right: 50px;
  padding: 50px;
}

.github-footer {
  display: grid;
  justify-content: left;
  padding: 50px;
}
