nav {
  display: flex;
  justify-content: space-evenly;
  font-family: Montserrat, Arial;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:active {
  color: blue;
}

a:hover {
  color: lightblue;
  cursor: pointer;
}

.col-container {
  display: flex;
  flex-direction: row;
  
}

.left-col {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.middle-col {
  display: flex;
  flex-direction: column;
}

.right-col {

}

img {
  width: 300px;
}
