body {
  font-family: Montserrat, Arial;
  font-size: 18px;
}

h1 {
  font-family: Roboto, Arial;
  font-size: 42px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-family: Montserrat, Arial;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

a:active {
  color: blue;
}

a:hover {
  color: lightblue;
  cursor: pointer;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  max-width: 500px;
  min-width: 440px;
}

.images-row {
  display: flex;
  justify-content: space-evenly;
}

img {
height: 400px;
}
