h1 {
  font-family: Roboto, Arial;
  font-size: 42px;
  align-items: center;
}

img {
  width: 280px;
  height: 200px;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.head-section {
  background-color: lightpink;
  align-items: center;
}

.main-section {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  background-color: lightblue;
}

.DaysOfCode,
.couchTo5k,
.balanceacupuncture {
  margin: auto;
  justify-content: center;
}

.couchTo5k {
  background-color: lightgreen
}
