nav {
  display: flex;
  justify-content: space-evenly;
  font-family: Montserrat, Arial;
  font-size: 18px;
  font-weight: bold;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

a:active {
  color: blue;
}

a:hover {
  color: rgb(61, 61, 177);
  cursor: pointer;
}

body {
  background-color: rgb(233, 233, 230);
}

h1 {
  font-family: Roboto, Arial;
  font-size: 42px;

}

h2 {
  font-family: Roboto, Arial;
  font-size: 28px;
}

p {
  font-family: Montserrat, Arial;
  font-size: 16px;
}

.centered{
  display: grid;
  text-align:center;
}

.text-width {
  min-width: 400px;
  max-width: 800px;
}

img {
  width: 280px;
  height: 200px;
  justify-self: center;
  align-self: start;
}

.social-icons {
  width: 30px;
  height: 30px;
  justify-self: center;
}

.instagram-footer {
  display: grid;
  justify-content: right;
  padding-right: 50px;
  padding: 50px;
}

.github-footer {
  display: grid;
  justify-content: left;
  padding: 50px;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.head-section {
  display: grid;
  justify-content: center;
}

.main-section {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: space-around;
}

.DaysOfCode,
.couchTo5k,
.balanceacupuncture,
.mandarin {
  display: grid;
  margin: auto;
  justify-content: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

.couchTo5k {

}
